<!--Navbar here-->
<ul style = "list-style-type: none;color:white;">
	<li><a style ="color:white;font-size:xx-large;" href= {{ site.baseurl }} >HOME</a></li>
  <li><a style ="color:white;font-size:xx-large;" href="{{"/meettheteam" | prepend: site.baseurl }}" >CONTACT</li>
  <li><a style ="color:white;font-size:xx-large;" href="#">WORK</a></li>
  <li><a style ="color:white;font-size:xx-large;" href="{{"/blog" | prepend: site.baseurl }}" >BLOG</a></li>
  <li><a style ="color:white;font-size:xx-large;" href="#">ARCHIVE</a></li>
  <li><a style ="color:white;font-size:xx-large;" href="#">TUTORIAL</a></li>
</ul>
