<!DOCTYPE html>
<html>

  {% include head.html %}

    <body style = "background-color:#aadbdb;">

    {% include header.html %}
<div class = "container">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      
      {% include title.html %}
    </div>
    
    <div class = "col-md-2 col-md-offset-1">
        <div class="btn-group">
          <a class="btn btn-default" href="#">
            <i class="fa fa-align-left"></i>
          </a>
          <a class="btn btn-default" href="#">
            <i class="fa fa-align-center"></i>
          </a>
          <a class="btn btn-default" href="#">
            <i class="fa fa-align-right"></i>
          </a>
        </div>
    </div>
    
  </div>
      </div>
    <div class = "container">
      <div class = "row">
        <div style=" background-color:#aadbdb;" class = "col-md-2"
             {% include leftsidebar.html %}
        </div>
        <div style = "background-color:#f3f0ec;">
              {{ content }}
        </div>
        <div class = "col-md-2 col-md-offset-1"
             {% include rightsidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>